#------- Erreur 404 ---------#
ErrorDocument 404 /pages/erreurs/erreur404.php

#------- Redirection index ---------#
DirectoryIndex pages/index.php /erreurs/erreur404.php




#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Home :
RewriteRule home.html   /pages/home.php

# Aboutme :
RewriteRule a-mon-propos.html   /pages/aboutme.php

# Contact :
RewriteRule contact.html   /pages/contact.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]